
.metadata/.lock
.metadata/.log
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.projects/CommonResources/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/CommonResources/org.eclipse.egit.core/GitProjectData.properties
*.dat
*.index
.metadata/.plugins/org.eclipse.core.resources/.projects/GenerationAlgorithms/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/GenerationAlgorithms/.markers
*.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/VisProject/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/VisProject/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/VisualizerBasic/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/VisualizerBasic/.markers
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
*.version
*.tree
*.resources
*.prefs
*.launch
*.xml
*.xmi
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.tii
*.tis
*.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
*.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
*.json
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.txt
*.log
*.setup
*.mark
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
*.js
*.ini
.sonarlint/default/.sonartmp_7974860991659824788/sonar-plugin-api-deps8674265200017119161jar
