
*.zip
*.zip
*.png
*.history
*.cfs
Visualizer/.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/VisProject/segments_w
Visualizer/.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/VisualizerBasic/segments_w
Visualizer/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1
Visualizer/.sonarlint/default/.sonartmp_1324521683404529954/sonar-plugin-api-deps7975122017434639190jar
Probe/.metadata/.lock
Probe/.metadata/.log
*.index
*.properties
*.version
*.tree
*.resources
*.prefs
*.xmi
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.tii
*.tis
*.gen
Probe/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
*.prx
Probe/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
*.json
Probe/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Probe/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Probe/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Probe/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
*.xml
*.log
*.setup
*.mark
Probe/RemoteSystemsTempFiles/.project
*.zip
*.zip
Visualizer/.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/VisProject/segments_1s
Visualizer/.sonarlint/default/.sonartmp_1438352029680986955/sonar-plugin-api-deps1527931995173591722jar
.metadata/.lock
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
*.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

*.dat
*.js
Probe/.project
RemoteSystemsTempFiles/.project
Probe/.project
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.sonarlint/default/.sonartmp_3857336684124005679/sonar-plugin-api-deps6968131594026379257jar
.sonarlint/default/.sonartmp_8301266888202783670/sonar-plugin-api-deps3898702334841735436jar
Probe/.project
Probe/.project
*.zip
Visualizer/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments_1
Visualizer/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
Visualizer/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
Visualizer/.metadata/.plugins/org.eclipse.ui.intro/introstate
Visualizer/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1
Visualizer/.sonarlint/default/.sonartmp_6076504564122873494/sonar-plugin-api-deps7823657785546582192jar
Visualizer/.sonarlint/default/.sonartmp_6076504564122873494/sonar-plugin-api-deps7823657785546582192jar
Visualizer/.sonarlint/default/.sonartmp_62830481265943369/sonar-plugin-api-deps6814029825544801121jar
