.root {
    -fx-background-color: #3c3f41;
}

.label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-padding: 0.166667em 0.33333em 0.25em 0.33333em;
}

.accordion .titled-pane > *.content{
    -fx-background-color: transparent ;
    -fx-border-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.check-box {
	-fx-text-fill: #ffffff;
	
}

.radio-button {
	-fx-text-fill: #ffffff;
	
}

.accordion .titled-pane {
   	-fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold; 
}

.accordion .titled-pane .title {
   	-fx-background-color: #605353;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}


.combo-box {
	-fx-max-width: 150;
	-fx-max-height: 18;
	-fx-font-size: 11;
	
}

.color-picker {
	-fx-color-label-visible: false;
	-fx-max-width: 22;
}

.date-picker {
	-fx-max-width: 100;
	
}

.date-picker .label {
	-fx-text-fill: #000000;
	
}

#headline {
	-fx-font-size: 13;
	
}
