.root {
    -fx-background-color: #535353;
}

.label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-padding: 0.166667em 0.33333em 0.25em 0.33333em;
}

.accordion .titled-pane > *.content{
    -fx-background-color: transparent ;
    -fx-border-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.check-box {
	-fx-text-fill: #ffffff;
	
}

.radio-button {
	-fx-text-fill: #ffffff;
	
}

.accordion .titled-pane {
   	-fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold; 
}

.accordion .titled-pane .title {
   	-fx-background-color: #605353;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}
